<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <div class="blogdiv">
            <% if(locals.blog) {%>
                <form action="/edited" method="post">
                    <input class="" type="hidden" name="id" value="<%= blog[0].id %>"> 
                    <div>
                        <input class="nameinput" placeholder="Name" value="<%= blog[0].author %>" type="text" name="Name" spellcheck="false" required><br/>
                    </div>
                    <div>
                        <input class="titleinput" placeholder="Title" value="<%= blog[0].title %>" type="text" name="Title" required>
                    </div>
                    <div>
                        <textarea class="blog" type="text" name="blog" rows="20" cols="100"><%= blog[0].post %></textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit">
                    </div>
                </form>
            <% }else{ %>
                <form action="/add" method="post">
                    <div>
                        <input class="nameinput" placeholder="Name" type="text" name="Name" spellcheck="false" required><br/>
                    </div>
                    <div>
                        <input class="titleinput" placeholder="Title" type="text" name="Title" required>
                    </div>
                    <div>
                        <textarea class="blog" type="text" name="blog" rows="20" cols="100"></textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit">
                    </div>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>