body{
    background-color:transparent;
}
#home{
    height:100vh;
    width:100%;
    background-image: url(./images/blog-background3.png);
    background-size:cover;
    background-attachment: fixed;
}

.navigation{
    color:black;
    padding:5px;
    font-weight: 800;
    font-family: 'Gowun Batang', serif;
    font-size: 1.2rem;
}
.navigation:hover{
    transform:scale(1.5);
    color:antiquewhite;
    background-color: black;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 5px;
}
.title{
    display:flex;
    justify-content: center;
    height:50vh;
    font-size:5rem;
    align-items: center;
    font-family: 'WindSong', cursive;
    color: black;
    font-weight: bolder;
    animation-name: textani;
    animation-duration: 1.5s;
}
.title-l{
    animation-name: textani-l;
    animation-duration: 2s;
    margin:1.5rem;
}
.title-r{
    animation-name: textani-r;
    animation-duration: 2s;
    margin:1.5rem;
}
@keyframes textani-l {
    from{transform: translateX(300px);}
    to{transform: translateX(-0px);}
}
@keyframes textani-r {
    from{transform: translateX(-300px);}
    to{transform: translateX(0px);}
}
.top{
    display:flex;
    justify-content:center;
}
.logo{
    position: relative;
    margin-top: 10px;
    margin-right: 50px;
    height:80px;
    width:80px;
    border-radius: 50%;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color:#F1FAFF ;
}



/* tools */
input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    border-bottom: 2px solid rgb(39, 38, 38);
    overflow: hidden;
    background-color: #FBFFF4;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    transition: all 0.5s;
  }
  
  input:hover,
  input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
textarea{
    border: 1px solid gray;
    padding: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #FBFFF4;
    border-radius: 10px;
    transition: all 0.5s;
}
textarea:hover,
  textarea:focus {
    border: 1px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  
  
/* for posts */
.post-container,.post-container>ul{
    background-color: #DBD3AD;
    backdrop-filter: blur(0.5);
    display:flex;
    flex-direction: column;
    
}

li{
    list-style-type: none;
}

.eachblog{

    background-color: #f6f6f6;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin:50px;
    padding:50px;
    border-radius: 50px;
}

.post-title{
    font-size: large;
    font-family: "Raleway", sans-serif;
    font-weight:bolder;
    text-transform: capitalize;
}

.post-content{
    font-size:larger;
    font-family: "Assistant", sans-serif;  
    text-align: justify;
}
.btn-div{
    width:100%;
    display:flex;
}
.hidden-form{
    display:flex;
    flex-direction: row;
    background-color: transparent;
}

/* tools */
/* button */
.create-btn-div{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.edit-button-div{
    display: flex;
    width:100%;
    justify-content:start;
}
.edit-button{
    height: 2.5rem;
    width: 7rem;
    position: relative;
    margin-right:2rem;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #1b1a1a;
    overflow: hidden;
    border-radius: 30px;
    color: #1a1919;
    transition: all 0.5s ease-in-out;
}
.edit-button:hover {
    color: #fff;
    border: none;
}
.button {
    height: 3.5rem;
    width: 14rem;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #1b1a1a;
    overflow: hidden;
    border-radius: 30px;
    color: #1a1919;
    transition: all 0.5s ease-in-out;
}

.btn-txt {
    font-weight: 600;
    letter-spacing: 4px;
    position: relative; 
    z-index: 10;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #202020;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: 1; /* Lower than the text */
}

.button:hover {
    color: #fff;
    border: none;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}
